html, body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px) {

.circle-colour {
    background: purple;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.pic-dev {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    
}
.picture-computer {
    height: 200px;
    width: 300px;
}
}